<%- include("./partials/header") %>
<div class="verifyDonor">
    <div class="form">
        <form action="/confirmDonor" method="POST">
            <h4>Enter the Unique id of Donor</h4>
            <br>
            <input type="text" name="userId" placeholder=" Donor id">
            <button>Submit</button>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>